body {
    font-family: sans-serif;
    color: #333;
    background-color: #ccc;
    margin: 0;
}

#container {
    margin: 0 auto;
    border-color: #666;
    border-style: solid;
    border-width: 0 1px 1px;
    background-color: #fff;
    padding: 10px 30px 30px;
    max-width: 1400px;
    display: flex;
    flex-flow: column;
}

#info {
    text-align: center;
}

#controls {
    display: flex;
}

#canvas {
    margin: 2em auto;
    background-color: #444;
    border: 1px solid #666;
    display: block;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

div.panel {
    flex: 1;
    margin-left: 30px;
    border: 1px solid #999;
    background-color: #ddd;
}

div.panel div {
    border-top: 1px solid #999;
    padding: 8px;
    background-color: #eee;
}

div.panel a {
    display: block;
    cursor: pointer;
    padding: 8px;
}

div.panel a:hover {
    background-color: #eee;
}

#debugToggle {
    background-color: #FF9999;
}

#debugToggle.enabled {
    background-color: #99FF99;
}

#settings {
    display: none;
}

#settings.visible {
    display: block;
}